@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* Reset browser default margins and padding */
* {
    margin: 0;
    padding: 0;
}
/*Font for the body*/
body {
    font-family: 'Lato', sans-serif;
}

/* header h1 */
header h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px 20px;
}

/* main h1 */
main h1 {
    text-align: center;
    font-size: 25px;
}

/* main form */
.signin_form {
    margin: 7% 32%;
}

form input {
    width: 80%;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #696969;
}

form button {
    width: 20%;
    height: 30px;
    color: white;
    background-color: #78bdf2;
    text-transform: capitalize;
    border: none;
    border-radius: 20px;
}

/* main image */
img {
    width: 50%;
    rotate: 180;
    /* height: 50%; */
}

/* main p */
p {
    font-size: xx-small;
    color: #696969;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}