<!DOCTYPE html>
<html>
<head>
 <title>Virtual Coffee</title>
 <link rel="stylesheet" href="../static/styles.css">
</head>
<body style="background-image: url('images/coffe1.jpg');">
 <header>
    <h1>Virtual Coffee</h1>
    <nav>
        <a href="Sign Up"></a>
    </nav>
 </header>

 <main>
    <!-- Main content will be loaded here -->
    <section class="signin_form">
        <form action="post">
            <br>
            <br>
            <br>
            <input type="text" name="username" id="" placeholder="Username"><br><br>
            <input type="password" name="pwd" id="" placeholder="Password"><br><br><br>
            <button type="submit"> <a href="timeline.html">SIGN IN</a></button> <br> <br> <br>
            <p>Are you new to the coffee shop? <a href="signup">Sign up!</a></p>
        </form>
    </section>
 </main>

 <footer>
    <p>&copy; 2023 Virtual Coffee</p>
 </footer>
</body>
</html>