<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline {{ current_user.username }}</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/timeline-styles.css">
</head>
<body>
    <header>
        <h1>{{ current_user.username }}</h1>
        <nav>
            <a href="{{ url_for('timeline') }}">Home</a>
            <a href="profile.html">Profile</a>
            <a href="{{ url_for('logout') }}">Log out</a>
        </nav>
    </header>
    <main>
        <section class="create_post">
            <a href="{{ url_for('create_post') }}">Create Post</a>
        </section>
        <section class="recent_posts">
            <h1>All Posts</h1>
            {% for post in all_posts %}
                <h3>{{ post.user.username }} - {{ post.created_at }}</h3>
                <p>{{ post.content }}</p>
                <a href="#">Like</a> <a href="#">Dislike</a> <br>
            {% endfor %}
        </section>
    </main>
</body>
</html>