<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>

    <!-- css -->
    <link rel="stylesheet" href="../css/timeline-styles.css">
</head>
<body>
    <header>
        <h1>Username</h1>
        <nav>
            <a href="timeline.html">Home</a>
            <a href="profile.html">Profile</a>
            <a href="../index.html">Log out</a>
        </nav>
    </header>
    <main>
        <section class="create_post">
            <a href="create-post.html">Create Post</a>
        </section>
        <section class="recent_posts">
            <h3>Cappucino Classic</h3>
            <h4>Username</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa iusto deleniti,
                accusantium tempore ut natus commodi voluptatibus esse ipsam alias, ullam magnam?
                Fuga voluptatibus molestiae repudiandae eos possimus! Ducimus, quia.</p>
            <i>Like</i> <i>Dislike</i>
        </section>
    </main>
</body>
</html>